In [3]:
import pandas as pd

In [4]:
data={
    'Name':['srinivasan','saravanan','santhosh'],
    'age':[22,21,21]
}

In [7]:
result=pd.DataFrame(data)
result.head()

         Name  age
0  srinivasan   22
1   saravanan   21
2    santhosh   21

In [ ]:
r1=[20,24,26,28]